<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BMASoft</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Penjualan
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Pembelian
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata" @onclick="()=>expandIcMenu = !expandIcMenu">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Persediaan
            </NavLink>
            @if (expandIcMenu)
            {
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="TransApCa">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Pembayaran
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="TransIcAdjust">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Transaksi Adjustment
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="TransIcMutasi">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Transaksi Mutasi
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="SetupIcItem">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Setup Item
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="SetupIcDiv">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Setup Divisi
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="SetupIcCat">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Setup Kategori
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="SetupIcAcct">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Setup Akun Set
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="SetupIcLokasi">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Setup Lokasi
                </NavLink>
            </li>
        </ul>

            }
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata" @onclick="()=>expandHutangMenu = !expandHutangMenu">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Hutang
            </NavLink>
            @if (expandHutangMenu)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="TransApCa">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Pembayaran
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="TransApDp">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Pembayaran Uang Muka
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="TransApIn">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Transaksi
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="SetupSupplier">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Setup Supplier
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="SetupApAkunSet">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Setup Account Set
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="SetupApDist">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Setup Distribution
                        </NavLink>
                    </li>

                </ul>

            }
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata" @onclick="()=>expandPiutangMenu = !expandPiutangMenu">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Piutang
            </NavLink>
            @if (expandPiutangMenu)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="TransArCa">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Pembayaran
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="TransArDp">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Pembayaran Uang Muka
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="TransArIn">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Transaksi
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="SetupCustomer">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Setup Customer
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="SetupArAkunSet">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Setup Account Set
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="SetupArDist">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Setup Distribution
                        </NavLink>
                    </li>

                </ul>

            }
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard-layout/bank" @onclick="()=>expandBankMenu = !expandBankMenu">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Kas Bank
            </NavLink>
            @if (expandBankMenu)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="TransBank">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Transaksi
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="SetupBank">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Setup Bank
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="SetupSrcCode">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Source Code
                        </NavLink>
                    </li>

                </ul>

            }
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-list-rich" aria-hidden="true"></span> General Ledger
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool expandBankMenu;
    private bool expandPiutangMenu;
    private bool expandHutangMenu;
    private bool expandIcMenu;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
